body,html{
    height: 100%;
    margin: 0;
}

.login{
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      ),url(./assets/bz.jpeg);
    height: 100vh;
}
.denglukuang{
    background-color: #fff;
    width: 600;
    margin-top: 20vh;
    height: 380px;
    border-radius: 10px;
}
